.dialog-description {
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.w-full {
  width: 100%;
}

mat-dialog-content {
  min-width: 400px;
  padding: 20px 24px;
}

mat-dialog-actions {
  padding: 16px 24px;
}
