services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - API_URL=${API_URL:-https://api.tudominio.com/api/v1}
    container_name: facturacion-sunat
    ports:
      - "80:80"
    restart: always
    environment:
      - NODE_ENV=production
