.forbidden-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Occupy most of the screen */
  text-align: center;
  padding: 2rem;

  .error-icon {
    font-size: 8rem;
    height: 8rem;
    width: 8rem;
    color: #f44336; /* Material Red 500 */
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #333;
  }

  p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
  }

  button {
    padding: 0 1.5rem;
  }
}
