<div class="dialog-container">
  <h2 mat-dialog-title>Nuevo Rol</h2>

  <mat-dialog-content>
    <form
      class="role-form"
      [formGroup]="roleForm"
      (ngSubmit)="save()"
      id="roleForm"
    >
      <p class="dialog-description">Ingresa el nombre para el nuevo rol.</p>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nombre del Rol</mat-label>
        <input matInput formControlName="name" placeholder="Nombre del Rol" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Descripción</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="Descripción del Rol"
        />
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()" type="button">Cancelar</button>
    <button mat-flat-button color="primary" type="submit" form="roleForm">
      Guardar
    </button>
  </mat-dialog-actions>
</div>
